<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ui-bootstrap-csp.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Pacifico" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="myApp">
    <navbar></navbar>
    <main ui-view></main>
  </body>
  <script type="text/javascript" src="/javascripts/lib/angular.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/angular-animate.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/angular-messages.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/angular-ui-router.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/ui-bootstrap.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/ui-bootstrap-tpls.js" defer></script>
  <script type="text/javascript" src="/javascripts/client.js" defer></script>
  <script type="text/javascript" src="/javascripts/navbar.js" defer></script>
  <script type="text/javascript" src="/javascripts/home.js" defer></script>
  <script type="text/javascript" src="/javascripts/about.js" defer></script>
  <script type="text/javascript" src="/javascripts/auth.js" defer></script>
  <script type="text/javascript" src="/javascripts/login.js" defer></script>
  <script type="text/javascript" src="/javascripts/signup.js" defer></script>
  <script type="text/javascript" src="/javascripts/items/items.js" defer></script>
  <script type="text/javascript" src="/javascripts/items/item-new.js" defer></script>
  <script type="text/javascript" src="/javascripts/items/item-show.js" defer></script>
  <script type="text/javascript" src="/javascripts/items/item-edit.js" defer></script>
  <script type="text/javascript" src="/javascripts/items/item-service.js" defer></script>
  <script type="text/javascript" src="/javascripts/restaurants/restaurants.js" defer></script>
  <script type="text/javascript" src="/javascripts/restaurants/restaurant-service.js" defer></script>
  <script type="text/javascript" src="/javascripts/restaurants/restaurant-new.js" defer></script>
  <script type="text/javascript" src="/javascripts/restaurants/restaurant-show.js" defer></script>
  <script type="text/javascript" src="/javascripts/restaurants/restaurant-edit.js" defer></script>
  <script type="text/javascript" src="/javascripts/todos/todo-service.js" defer></script>
  <script type="text/javascript" src="/javascripts/todos/todos.js" defer></script>
  <script type="text/javascript" src="/javascripts/todos/todo-show.js" defer></script>
  <script type="text/javascript" src="/javascripts/todos/todo-new.js" defer></script>
  <script type="text/javascript" src="/javascripts/todos/todo-edit.js" defer></script>
</html>

