body {
  padding: 50px;
  font: 14px 'Poppins', sans-serif;
  background-color: #B5DFCA;
}

h1, h2 {
  color: #FBFBF2;
  font-family: 'Poppins', sans-serif;
}

.no-bullets {
  list-style: none;
}

.todos {
  margin-top: 5px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: red;
}

.restaurantStuff {
  background-color: #5D576B;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
}

.menuItems {
  background-color: #FBFBF2;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
}

h3 {
  font-size: 3em;
  color: #6B7FD7;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

a.itemTitle {
  text-decoration: none;
  font-size: 1em;
  color: #6B7FD7;
}

a.itemTitle:hover {
  color: #5D576B;
}

p.itemDescription {
  color: #8693AB;
}

.navbar-default {
  background: #273043;
  border-color: #FBFBF2;
}
