body {
    font: 14px 'Poppins', sans-serif;
    background-color: #B5DFCA;
}

h1,
h2 {
    color: #FBFBF2;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

#slides_control {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: none;
    margin: 1px;
    height: 100%;
    width: 100%;

}
.no-bullets {
    list-style: none;
}

.todos {
    margin-top: 5px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: red;
}

.restaurantDetails {
  background-color: #5D576B;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.75);
}
.restaurantDetails p {
  color: #fafafa;
}

.items {
  background-color: #FBFBF2;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
  overflow-y: scroll;

}

h3 {
    font-size: 3em;
    color: #6B7FD7;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

a.itemTitle {
  text-decoration: none;
  font-size: 1em;
  color: #6B7FD7;
  margin-bottom: 2em;
}

a.itemTitle:hover {
    color: #5D576B;
}

p.itemDescription {
    color: #8693AB;
}

.navbar-default {
    background: #273043;
    border-color: #FBFBF2;
}

.navbar-default a {
  color: white;
}

.restaurants {
  background-color: #FBFBF2;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px #5D576B solid;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.restaurants:hover {
  background-color: #fafafa;
  border-color: #6B7FD7;
  color: #6B7FD7;

}

.menuItems {
    padding-top: 10px;
}

.restaurants hr {
    margin: 5px;
}

.restaurantName {
    font-size: 2em;
    font-weight: 800;
    margin: 3px 0 0 0;
}

.deleteBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.restaurantAddress {
    font-weight: 400px;
    font-size: 1.2em;
}
/* ANIMATIONS */

main.ng-enter {
    transition: .6s linear all;
    opacity: 0;
}


main.ng-enter.ng-enter-active {
    opacity: 1;
}
.restaurants.ng-enter {
  transition: .2s linear all;
  opacity: 0;
  transform: translateY(30px);
}
.restaurants.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.restaurants.ng-leave {
  transition: .2s ease-in all;
  opacity: 1;
}
.restaurants.ng-leave.ng-leave-active {
  opacity: 0;
}

.footer {
    background-color: #6B7FD7;
    color: white;
    text-align: right;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
}

.items.ng-enter {
  transition: .2s linear all;
  opacity: 0;
  transform: translateY(30px);
}
.items.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.items.ng-leave {
  transition: .2s linear all;
  opacity: 1;
}
.items.ng-leave.ng-leave-active {
  opacity: 0;
}


.itemShow {
  background-color: #FBFBF2;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 3px #5D576B solid;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.itemTitle {
  color: #6B7FD7;
  font-size: 20px;
}

.orderUp {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 15px;
  text-align: center;
}

