body {
    margin-top: 50px;
    font: 14px 'Poppins', sans-serif;
    background-color: #B5DFCA;
}

h1,
h2 {
    color: #FBFBF2;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

#slides_control {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: none;
    margin: 1px;
    height: 100%;
    width: 100%;
}

.carousel.fading .carousel-inner > .item {
  display: block;
  position: absolute;
  left: 0 !important;
  opacity: 0;
  -moz-transition: .6s ease-in-out opacity;
  -webkit-transition: .6s ease-in-out opacity;
  -o-transition: .6s ease-in-out opacity;
  transition: .6s ease-in-out opacity;
}

/* Active slides are visible on transition end */
.carousel.fading .carousel-inner > .active,
/* Next slide is visible during transition */
.carousel.fading .carousel-inner > .next.left {
    opacity: 1;
}
.carousel.fading .carousel-inner > .next,
.carousel.fading .carousel-inner > .active.left {
    opacity: 0;
}
.carousel-caption {
  position: absolute;
}

.no-bullets {
    list-style: none;
}

.todos {
    margin-top: 5px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: red;
}

.aboutHeader {
  font-size: 30px;
}

.developers {
  background-color: #FBFBF2;
  border: 3px solid #273043;
  border-radius: 10px;
  box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

.dev {
  margin-top: 40px;
}

.devPic {
  max-height: 200px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 3px solid #273043;
}

.email {
  font-size:
}

.restaurantDetails {
  background-color: #5D576B;
  color: #fafafa;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 3px #273043 solid;
  padding: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.restaurantDetails p {
  color: #fafafa;
}

.pillButton {
  border-radius: 5px;
}

uib-tabset.a.active {
  color: black;
}

.items {
  background-color: #FBFBF2;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
}



.scrollMenu {
  height: 450px;
  overflow-y: scroll;

}

h3 {
    font-size: 3em;
    color: #6B7FD7;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

a.itemTitle {
  text-decoration: none;
  font-size: 1em;
  color: #6B7FD7;
  margin-bottom: 2em;
}

a.itemTitle:hover {
    color: #5D576B;
}

p.itemDescription {
    color: #8693AB;
}

.navbar-default {
  background: #273043;
  border-top: 3px solid #6B7FD7;
  border-bottom: 3px solid #6B7FD7;
}

ul.nav li.active a {
    color: white !important;
}

.navbar-default a {
  color: #FBFBF2;
}

.nav.navbar-nav.navbar-right {
  margin-right: 5px;
}

.navbar.navbar-fixed-top.navbar-default li a {
  color: #FBFBF2;
}

.navbar.navbar-fixed-top.navbar-default li {
  color: #FBFBF2;
}

.navbar.navbar-fixed-top.navbar-default p {
  color: #FBFBF2;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
    margin:0 auto;
    z-index: -1 !important;
}

p.navbar-brand.orderUp{
  color: #FBFBF2;
  font-size: 25px;
}

.orderUp {
  font-family: 'Pacifico', cursive;
  color: white;
}

.restaurants {
  background-color: #5D576B;
  color: #fafafa;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 3px #273043 solid;
  padding: 0;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.restaurants:hover {
  background-color: #273043;
  border-color: #6b88ff;

}
.cover {
  background-color: rgba(0,0,0,.35);
  background-size: 100% 100%;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.restaurantInfo {
  padding-left: 10px;
}
.menuItems {
    padding-top: 10px;
}

.restaurants hr {
    margin: 5px;
}

.restaurantDetails hr {
  margin: 5px;
}
.restaurantName {
    font-size: 2em;
    font-weight: 800;
}

.deleteBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.restaurantAddress {
    font-weight: 400px;
    font-size: 1.2em;
}
/* ANIMATIONS */

main.ng-enter {
    transition: .6s linear all;
    opacity: 0;
}


main.ng-enter.ng-enter-active {
    opacity: 1;
}
.restaurants.ng-enter {
  transition: .2s linear all;
  opacity: 0;
  transform: translateY(30px);
}
.restaurants.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.restaurants.ng-leave {
  transition: .2s ease-in all;
  opacity: 1;
}
.restaurants.ng-leave.ng-leave-active {
  opacity: 0;
}

.footer {
    background-color: #6B7FD7;
    color: white;
    text-align: right;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
}

.items.ng-enter {
  transition: .2s linear all;
  opacity: 0;
  transform: translateY(30px);
}
.items.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.items.ng-leave {
  transition: .2s linear all;
  opacity: 1;
}
.items.ng-leave.ng-leave-active {
  opacity: 0;
}


.itemShow {
  background-color: #FBFBF2;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 3px #5D576B solid;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.itemTitle {
  color: #6B7FD7;
  font-size: 20px;
}

.orderUp {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }

  .developers {
    width: 100px;
  }
}
