body {
  padding: 50px;
  font: 14px 'Poppins', sans-serif;
  background-color: #B5DFCA;
}

h1, h2 {
  color: #FBFBF2;
  font-family: 'Poppins', sans-serif;
}

.no-bullets {
  list-style: none;
}

.todos {
  margin-top: 5px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: red;
}

.restaurantDetails {
  background-color: #5D576B;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.75);
}

.items {
  background-color: #FBFBF2;
  border-radius: 10px;
  padding: 1%;
  margin-top: 1em;
  overflow-y: scroll;
}

h3 {
  font-size: 3em;
  color: #6B7FD7;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

a.itemTitle {
  text-decoration: none;
  font-size: 1em;
  color: #6B7FD7;
  margin-bottom: 2em;
}

a.itemTitle:hover {
  color: #5D576B;
}

p.itemDescription {
  color: #8693AB;
}

.navbar-default {
  background: #273043;
  border-color: #FBFBF2;
}

.restaurants {
  background-color: #FBFBF2;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 3px #5D576B solid;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.restaurants:hover {
  background-color: #fafafa;
}

.menuItems {
  padding-top: 10px;
}

.restaurants hr {
  margin: 5px;
}
.restaurantName {
  font-size: 2em;
  font-weight: 800;
  margin: 3px 0 0 0;
}

.deleteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.restaurantAddress {
  font-weight: 400px;
  font-size: 1.2em;
}


/*.searchBar {
  margin-bottom: 5px;
}*/

/* The starting CSS styles for the enter animation */
main.ng-enter {
  transition: .6s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
/*main.ng-leave {
  transition: .5s linear all;
  opacity:1;
}
main.ng-leave.ng-leave-active {
  opacity:0;
}*/



